<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

</style>
<body>
<header class="container" th:fragment="top">

    <nav>
        <ul>
            <li><a href="/" style="text-decoration: none; color: inherit;"><strong>Second-Life</strong></a></li>

            <li>
                <button id="free_btn" onclick="location.href='/board'">자유 게시판</button>
            </li>
            <li>
                <button id="region_btn" onclick="location.href='/board2'">지역 게시판</button>
            </li>
        </ul>
        <ul>
            <li>
                <button style="width: 110px; background-color: #EE402E; border-color:#EE402E" id="create_btn"
                        onclick="location.href='/write'">글쓰기
                </button>
            </li>
            <li>
                <div th:if="${#authentication}">
                    <div th:if="${#authentication.principal != 'anonymousUser'}">
                        <!-- 사용자가 로그인한 경우 -->
                        <button id="logoutBtn" style="width: 110px; margin-right: 10px; "
                                class="secondary"
                                onclick="window.location.href='/logout'">로그아웃
                        </button>
                        <button id="myInfoBtn" style="width: 110px; background-color: #423736; border-color: #423736"
                                class="secondary"
                                onclick="window.location.href='/profile'">내정보
                        </button>
                    </div>
                    <div th:if="${#authentication.principal == 'anonymousUser'}">
                        <!-- 사용자가 로그아웃한 경우 -->
                        <button style="width: 110px;" class="secondary" onclick="location.href='/login'">로그인</button>
                    </div>
                </div>


            </li>
        </ul>
    </nav>

</header>
</body>

</html>